body{
  background: black;
}
#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar #logo{
  display: block;
  height: 65px;
  /* border: yellow solid 2px; */
  width: 45%;
}
#navbar #logo div img{
  height: 50px;
  width: 50px;
}
#navbar #socialmedia div a img{
  height: 45px;
  width: 45px;
}
#navbar #socialmedia{
  display: flex;
  justify-content: right;
  height: 65px;
  /* border: yellow solid 2px; */
  width: 45%;
}
#navbar #socialmedia div{
  padding: 10px;
  margin: 5px;
}


#content{
  padding: 15px;
  color: white;
  display: flex;
}
#content #info{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
#content #info .message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#content #info .message p{
  margin: 20px;
  animation: colorChange 5s infinite alternate;
}
#content #image{
  width: 40%;
}
#content #image img{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#footer{
  display: flex;
  justify-content: left;
  align-items: center;
  color: azure;
  font-size: larger;
}
#footer #typeing{
  
  font-size: larger; 
  animation: colorChange  5s  infinite; 
  
}



#project{
  color: azure;
  display: flex;
  justify-content: center;
}

#project div #img{
  display: flex;
  justify-content: center;
  align-items: center;
}














@keyframes colorChange {
  0% {
    color: blue;
  }
  25% {
    color: rgb(0, 83, 128);
  }
  50% {
    color: rgb(0, 117, 128);
  }
  75% {
    color: rgb(0, 128, 128);
  }
  100% {
    color: rgb(0, 255, 221);
  }
}



@media (max-width:1200px){
  #content #info{
    font-size: 70px;
  }
}
@media (max-width:900px){
  #content #info .message{
    display: block;
  }
  #content #info .message p{
    margin: 5px;
  }
  #content #image img{
    height: 300px;
    width: 261px;
  }
}

@media (max-width:700px){
  #navbar #logo div img{
    height: 45px;
    width: 45px;
  }
  #navbar #socialmedia div a img{
    height: 40px;
    width: 40px;
  }
}

@media (max-width:675px){
  #content{
    display: flex;
    flex-direction: column;
  }
  #content #image{
    width: 100%;
  }
  #content #info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  }
  #content #image img{
    height: 300px;
    width: 260px;
  }
  #content #image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar #socialmedia div a img{
    height: 30px;
    width: 30px;
  }
}

@media (max-width:500px){
  #content #info {
    font-size: 50px;
  }
  #content #image img{
    height: 200px;
    width: 160px;
  }
  #footer{
    display: flex;
    flex-direction: column;
  }
  #navbar #socialmedia div a img{
    height: 30px;
    width: 30px;
  }
}
